<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
      {{ 'scripts.js' | asset_url | script_tag }}
  </head>
  <body class="{% if template == 'index' %}landing{% endif %}">

    {% section 'navbar' %}

    {% unless template.name == 'index' %}
      <div class="sub-navbar">
        <div class="subnav-left"><a href="javascript:history.back()">BACK</a></div>
        <div class="page-title">{{ page_title }}</div>
      </div>
    {% endunless %}

    {{ content_for_layout }}


    <!-- FOOTER -->
    {% if template.name contains 'product' or template.name contains 'collection' %}
      <footer class="afterthat-footer">
        <div class="footer-content">
            <span>Afterthat135 © All rights reserved 2025</span>
            <a href="/policies/terms-of-service" class="footer-link">Terms and Conditions</a>
            <a href="/policies/privacy-policy" class="footer-link">Privacy Policy</a>
            <a href="/pages/about">CONTACT</a>
        </div>
      </footer>
    {% endif %}



  </body>
</html>
