<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
      {{ 'scripts.js' | asset_url | script_tag }}
  </head>
  <body>

    {% section 'navbar' %}

    {% unless template.name == 'index' %}
      <div class="sub-navbar">
        <div class="subnav-left"><a href="javascript:history.back()">BACK</a></div>
        <div class="page-title">{{ page_title }}</div>
      </div>
    {% endunless %}

    {{ content_for_layout }}

  </body>
</html>
