<!-- CART -->

{% layout 'theme' %}
{% assign page_title = "SHOPPING CART" %}

<div class="page-content cart-page">
  {% if cart.item_count == 0 %}
    <div class="cart-empty-wrapper">
      <a href="/" class="cart-back-link desktop underline-hover">❮ BACK TO HOME</a>
      <p class="cart-empty-message">YOUR CART IS CURRENTLY EMPTY.</p>
      <a href="/" class="cart-back-link mobile">❮ BACK TO HOME</a>
    </div>
  {% else %}

  <div class="cart-wrapper">
    <ul class="cart-items">
      {% for item in cart.items %}
        <li class="cart-item" data-key="{{ item.key }}">
          <a href="{{ item.url }}" class="cart-item-thumbnail">
            <img src="{{ item.image | image_url: width: 240 }}" alt="{{ item.product.title }}">
          </a>        
          <div class="cart-item-details">
            <div class="cart-item-title">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
            </div>
            <br>
            <div class="cart-item-size">SIZE: {{ item.variant.title }}</div>
            <!--<div class="desktop product-description">
              {{ item.product.description }}
            </div>-->
            <form method="post" action="/cart/change" class="remove-item-form">
              <input type="hidden" name="id" value="{{ item.key }}">
              <input type="hidden" name="quantity" value="0">
              <!--<button type="submit" class="remove-item">REMOVE</button>-->
            </form>            
          </div>
          
          <div class="cart-item-price-qty">
            <div class="cart-item-price">{{ item.line_price | money }}</div>
            <div class="cart-qty-wrapper">
              
              <form method="post" action="/cart/change" class="cart-qty-form">
                <input type="hidden" name="id" value="{{ item.key }}">
                <button type="button" name="quantity" value="{{ item.quantity | minus: 1 }}" class="qty-btn">–</button>
                <span class="cart-qty">{{ item.quantity }}</span>
                <button type="button" name="quantity" value="{{ item.quantity | plus: 1 }}" class="qty-btn">+</button>
              </form>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div class="cart-summary">
      <div class="cart-total">Total: {{ cart.total_price | money }}</div>
      <a href="/checkout" class="checkout-link">Checkout</a>
    </div>
    <div class="cart-summary-footer">
      <span>© AFTERTHAT / ALL RIGHTS RESERVED</span> &middot;
      <a href="/policies/terms-of-service" class="footer-link">Terms and Conditions</a> &middot;
      <a href="/policies/privacy-policy" class="footer-link">Privacy Policy</a>
    </div>
    
  </div>  
  {% endif %}
</div>
