<!-- CART -->

{% layout 'theme' %}
{% assign page_title = "SHOPPING CART" %}

<div class="page-content cart-page">
  {% if cart.item_count == 0 %}
    <div class="cart-empty-wrapper">
      <a href="/collections/shop-all" class="cart-back-link">❮ BACK TO SHOP ALL</a>
      <p class="cart-empty-message">YOUR SHOPPING CART IS CURRENTLY EMPTY.</p>
    </div>
  {% else %}
    <ul class="cart-items">
      {% for item in cart.items %}
        <li class="cart-item">
          <div class="cart-item-thumbnail">
            <img src="{{ item.image | image_url: width: 100 }}" alt="{{ item.product.title }}">
          </div>        
          <div class="cart-item-details">
            <div>{{ item.product.title }}</div>
            <div>Size: {{ item.variant.title }}</div>
            <div>Qty: {{ item.quantity }}</div>
            <form method="post" action="/cart/change" class="remove-item-form">
              <input type="hidden" name="id" value="{{ item.key }}">
              <input type="hidden" name="quantity" value="0">
              <button type="submit" class="remove-item">REMOVE</button>
            </form>            
          </div>
          <div class="cart-item-price">{{ item.line_price | money }}</div>
        </li>
      {% endfor %}
    </ul>

    <div class="cart-checkout-total">
      <div class="cart-total">
        Total: {{ cart.total_price | money }}
      </div>
      <a href="/checkout" class="checkout-link">Checkout</a>
    </div>
  {% endif %}
</div>
