<!-- CART -->
<div class="page-content cart-page">
  {% if cart.item_count == 0 %}
    <p>Your cart is empty.</p>
  {% else %}
    <ul class="cart-items">
      {% for item in cart.items %}
  <li class="cart-item">

    <div class="cart-item-details">
      <div>{{ item.product.title }}</div>
      <div>Size: {{ item.variant.title }}</div>
      <div>Qty: {{ item.quantity }}</div>
    </div>
        <button 
      class="cart-remove" 
      data-line-key="{{ item.key }}"
    >
      Remove
    </button>

    <div class="cart-item-price">{{ item.line_price | money }}</div>
  </li>
{% endfor %}

    </ul>

    <div class="cart-total">
      Total: {{ cart.total_price | money }}
    </div>

    <a href="/checkout" class="checkout-link">Checkout</a>
  {% endif %}
</div>
