<main class="products-page page-content">
  <div class="product-grid">
    {% for product in collection.products %}
        <div class="product-card">
            <div class="product-image">
            <a href="{{ product.url }}">
            <img
                src="{{ product.featured_image | img_url: '800x' }}"
                alt="{{ product.title }}"
            >
            {% if product.images[1] %}
                <img
                src="{{ product.images[1] | img_url: '800x' }}"
                alt="{{ product.title }} alternate"
                class="secondary"
                >
            {% endif %}
            </a>
            </div>


            <div class="product-bar">
                <div class="product-info-left">
                    <div><span class="label">ITEM:</span></div>
                    <div><span class="label">SIZE:</span></div>
                    <div>{{ product.price | money }}</div>
                </div>

                <div class="product-info-right">
                    <div class="product-title">[ {{ product.title | upcase }} ]</div>
                    <div class="sizes">
                        {% assign selected_set = false %}
                        {% for variant in product.variants %}
                        {% assign is_available = variant.available %}
                        {% assign is_selected = false %}

                        {% if is_available and selected_set == false %}
                            {% assign is_selected = true %}
                            {% assign selected_set = true %}
                        {% endif %}

                        <button
                            class="size-button
                            {% if is_selected %}selected{% endif %}
                            {% unless is_available %}sold-out{% endunless %}"
                            data-variant-id="{{ variant.id }}"
                            {% unless is_available %}disabled{% endunless %}>
                            {{ variant.option1 }}
                        </button>
                        {% endfor %}
                    </div>
                    <form class="add-to-cart-form" data-product-id="{{ product.id }}">
                    <input type="hidden" name="id" value="" class="variant-id">
                    <span>
                        [ <button type="submit" class="add-to-cart-link">ADD TO CART</button> ]
                        <span class="add-confirm" aria-hidden="true">
                            <svg width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 6L5 9L10 3" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </span>
                    </form>
                </div>
                </div>


        </div>

    {% endfor %}

    {% assign remainder = collection.products.size | modulo: 3 %}
    {% if remainder != 0 %}
    <div class="go-to-cart-filler" style="--span: {{ 3 | minus: remainder }}">
        <a href="/cart" class="go-to-cart-link">VIEW CART</a>
    </div>
    {% endif %}
    
  </div>
</main>


